.banner {
    width: 100%;
    height: 200px;
}

.menu {
    background-color: rgb(red, green, blue);
}

.menu ul {
    max-width: 100%;
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #000000;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    color: #DCDCDC;
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

.menu ul li a:hover {
    text-decoration: underline;
}

main {
    background: linear-gradient(#696969, #A9A9A9, #DCDCDC);
}

.titulo {
    text-align: center;
	font-size: 2em;
    font-weight: bold;
	margin: 0 0 1em;
	clear: left;
    padding: 20px;
}

.missao {
    color: #8B0000;
}

.tela-inicial, .missao {
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.mapa {
    width: 100%;
	margin: 0 auto;
    text-align: center;
    padding: 20px;
}

footer {
    background: #000000;
    color: #DCDCDC;
    padding: 40px 0;
    text-align: center;
}

.copyright {
    color: #DCDCDC;
	font-size: 13px;
	margin: 20px 0 0;
    font-weight: bold;
}

/*CSS da tela de cardápio*/

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
}

h3 {
    font-weight: bold;
    font-size: 20px;
    color: #8B0000;
    padding: 10px;
}
.valores {
    margin: auto;
    font-size: 10x;
    font-weight: bold;
    color: #8B0000;
    padding: 10px;
}

p {
    color: #000000;
    font-weight: bold;
        
}

.cremosa {
    width: 200px;
   height: 200px;
   background-color: #000;
   color: #FFF;
   border-radius: 50%;
     
}

.obs {
    padding: 20px;
    color: #8B0000;
    text-align: center;
}

.main-cardapio {
    background: linear-gradient(#696969, #A9A9A9, #DCDCDC);
    padding: 20px;
}

/*CSS da tela de promoções*/

nav {
    background: #000000;
    
}

nav a {
    position:relative;
    color: #DCDCDC;
    font-size: 22px;
    text-decoration: none;
    position:relative;
}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.mussarela {
	width: 100%;
	margin: 0 auto;
	padding: 50px 0;
}

.mussarela li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.mussarela li:hover{
	border-color:#8B0000;
}

.mussarela li:active{
	border-color: #088C19;
}

.mussarela li:hover h2{
	font-size: 34px;

}

.mussarela h2 {
	font-size: 30px;
	font-weight: bold;
}

.promocao-descricao {
	font-size: 18px;	
    font-weight: bold;
}

.promocao-preco{
	font-size: 30px;
	font-weight: bold;
	margin: 10px;
}



